.card {
  flex-grow: 1;
  margin: 0.5em;
  max-width: 25em;
  flex-basis: 0;

  .title {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-bottom: 5px;
  }
}

.action-group {
  background-color: #efefef;
  justify-content: center;
}
