@import '../../static/variables.scss';

.notes-list {
    .add {
        color: $green-default !important;
        float: right;
        cursor: pointer; 

        margin: 0 0.5em;

        &:hover {
            color: darken($color: $green-default, $amount: 30%)
        }
    }
}

.header {
    height: 4em;
}

