@import "../../static/variables.scss";

.navigation {
  width: 100%;
  height: 3em;
  line-height: 3em;
  background-color: $grey-lighter;

  .link {
    float: right;
    text-transform: uppercase;
    margin: 0 2em;
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
      sans-serif;
    color: $blue-default;
    font-size: 1.25em;
    padding: 0 1em;
    outline: none;

    &:hover {
      background-color: $blue-default;
      color: white;
    }
  }
}
